@using WebApp.Service
<footer id="footer">
    <div class="inner">
        <ul class="icons">
            <li><a href="@Config.Instagram" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="@Config.GitHub" class="icon brands fa-github"><span class="label">Github</span></a></li>
            <li><a href="@Config.Vk" class="icon brands fa-vk"><span class="label">VK</span></a></li>
            <li><a class="icon solid fa-envelope" href="mailto:@Config.PersonalEmail"><span class="label">Email</span></a></li>
        </ul>
        <ul class="copyright">
            <li>&copy; Untitled</li>
        </ul>
    </div>
</footer>