@using WebApp.Service

<header id="header">
    <div class="inner">
        <a href="@Config.Instagram" class="image avatar"><img src="/images/apx.jpg" alt="" /></a>
        <h1>
            <strong>Меня зовут Семен</strong>
        </h1>
        <nav id="nav">
            <a asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
            @*<a asp-area="" asp-controller="Services" asp-action="Index" asp-route-id="">Статьи</a>*@
        </nav>
    </div>
</header>