@model Article
@{
    ViewBag.Title = Model.MetaTitle;
    ViewBag.Description = Model.MetaDescription;
    ViewBag.Keywords = Model.MetaKeywords;
}

<div>
    <h2>
        @Model.Title
    </h2>
    <h2>
        @Model.Subtitle
    </h2>
    <div>
        <img class="image" width="300" height="322" src="~/images/@Model.TitleImagePath" alt=""/>
    </div>
</div>
<div>
    @Html.Raw(Model.Text)
</div>